$background-color: #F2A516;
$secondary-color: #F27B13;
$btn-color: #BF4904;
$optional-color: #593831;
$main-text-color: #000000;
$optional-text-color: #FFFFFF;
$box-text-color: #ACACAC;
$title-color: #8C1C03;
$title-font: 'Dancing Script', serif;
$paragraph-font: 'EB Garamond', serif;

@mixin title-mobile($color,$size) {
  font-family: $title-font;
  font-weight: bold;
  font-size: $size;
  color: $color;
}
@mixin paragraph-mobile($color,$font-size,$font-weight) {
  font-family: $paragraph-font;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}
@mixin main-shadow {
  box-shadow: 2px 2px 9px #000000;
}
@mixin imgConfig($width,$height,$url) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: $width;
  height: $height;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $paragraph-font;
}
html {
  font-size: 62.5%;
}