extend componentes/template.pug
block content
  main.main 
    section.slider 
      .slider__img-container: img.slider__img(src="", alt="")
      .slider__img-container: img.slider__img(src="", alt="") 
      .slider__img-container: img.slider__img(src="", alt="")   
    section.menu
      each menuTitle in menuTitles 
        +menuBox(menuTitle)
    section.address 
      h2.address__title Encuéntranos en
      .address__container 
        each address in addressInfo
          +addressBox(address)